#news-container {
  overflow: auto;
  padding: 1rem 3rem 1rem 2rem;
  height: 80%;
}

.post h1 {
  font-size: 2rem;
}

.post p {
  font-size: .8rem;
}

/* #posts-container::-webkit-scrollbar {
  width: 0px;
} */