#top-div {
  display: flex;
  height: 70%;
  width: 100%;
  flex-flow: row;
}

#icon-div {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

#weather-icon {
  height: 70%;
  filter: invert(99%) sepia(98%) saturate(353%) hue-rotate(310deg) brightness(104%) contrast(80%);
}

#weather-desc {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

#loc-desc-div {
  flex: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#temp {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#f {
  font-size: 5rem;
  font-weight: 600;
}

#feels {
  font-size: 1.2rem;
}

#location {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#bottom-div {
  font-size: 120%;
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#bottom-div h4 {
  font-weight: 400;
}

.bottom-div-div {
  width: 50%;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
}

.expected-temps-div {
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-around;
  column-gap: 1rem;
}

#arrow-icon {
  height: 1.5rem;
  transform-origin: center;
}

.arrow-up {
  filter: invert(22%) sepia(94%) saturate(6896%) hue-rotate(1deg) brightness(97%) contrast(122%);
}

.arrow-down {
  filter: invert(13%) sepia(100%) saturate(5083%) hue-rotate(239deg) brightness(84%) contrast(138%);
  transform: scale(1, -1);
}
