/* .weatherContainer {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  padding: 1rem;
  background: #1e5799; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

#icon-div {
  flex: 50%;
  text-align: center;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

#weather-icon {
  height: 70%;
  filter: invert(99%) sepia(98%) saturate(353%) hue-rotate(310deg) brightness(104%) contrast(80%);
}

#weather-desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

#loc-desc-div {
  flex: 50%;
  height: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#f {
  font-size: 280%;
}

#bottom-div {
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-size: 120%;
}

#bottom-div h4 {
  font-weight: 400;
}

.day {
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
}

.info-div {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
}

#location {
  font-size: 200%;
  font-weight: 800;
  font-style: italic;
  display: flex;
  justify-content: center;
}

#weather {
  font-size: 1.5rem;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}
